*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 1200px;
    margin: 0 none;
}

a{
    text-decoration: none;
    color: $black;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style: none;
}

/* Margin & Padding */
@for $i from 1 through 10 {
    .pt-#{$i * 10}{
        padding-top: $i * 10px;
    }

    .pb-#{$i * 10}{
        padding-bottom: $i * 10px;
    }

    .mt-#{$i * 10}{
        margin-top: $i * 10px;
    }

    .mb-#{$i * 10}{
        margin-bottom: $i * 10px;
    }
}

$list: left, center, right, justify;
@each $i in $list {
    .text-#{$i}{
        text-align: $i;
    }
}