.single-gallery{
    height: 250px;
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 30px;
    width: 370px;
    margin-bottom: 30px;
    position: relative;
    &:hover{
        h4{
            background-color: $primary_color;
            color: $black_bg;
        }
    }
    &:last-child{
        margin-right: 0;
    }
    h4{
        background-color: $black;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: $primary_color;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        text-transform: capitalize;
        
    }
}